.clear {
  clear: both;
}

.main {
  background-color: #81D4FA;
  width: 200px;
  height: 250px;
  float: left;
  color: white;
  border-radius: 25px
}

.ekran{
  margin-top: 20px;
  text-align: center;
  font-size: 50px;

}

.butonlar{
  margin-top: 40px;
  padding: 10px;
  text-align: center;

}

.reset button {
  background-color: #E0E0E0; /* Green */
  border-radius: 50%;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.artir button {
  background-color: #E0E0E0; /* Green */
  border-radius: 50%;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
